{% extends 'catalogo_guias/base.html' %}
{% block customheadload %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load static %}
{% endblock %}
        {% block customload %}
        {% leaflet_js %}
        {% leaflet_css %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/catalogo_guias.css' %}">
        {% endblock %}
        


    {% block content %} 
    <div class="roteiro_new">
            <script type="text/javascript">
                function main_map_init(map, options){
                    dataurl = '{% url "data" %}'
                    fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                // var props = feature.properties;
                // console.log(feature);
                var content = '<h3> ID Ponto: ' + feature.id + '</h3>';
                layer.bindPopup(content);
            }}).addTo(map);
                });
                }
              </script>
        <h1>Novo Atrativo</h1>
        <form method="POST" class="roteiro-form">{% csrf_token %}
            <table>
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{form.nome.errors}}
                    <label for="{{form.nome.id_for_label}}">Nome do Atrativo:</label>
                    {{form.nome}}
                </div>
                <div class="fieldWrapper">
                    {{form.infos.errors}}
                    <label for="{{form.infos.id_for_label}}">Informações sobre o atrativo:</label>
                    {{form.infos}}
                </div>
                <div class="fieldWrapper">
                    {{form.ponto.errors}}
                    <label for="{{form.ponto.id_for_label}}">Ponto do Atrativo:</label>
                    {{form.ponto}}
                    <p> O ponto que você quer não existe? <a href='{% url 'admin:catalogo_guias_ponto_add' %}'>Cadastre-o agora!</a></p>
                </div>
                <button class="btn" type="submit">Enviar</button>
            </table>
        </form>
        {% leaflet_map "mapa" callback="main_map_init" %}
    </div>
    {% endblock %}