{% extends "catalogo_guias/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>{% if edit %} Edite {% else %} Crie {% endif%} sua conta de {{ tipoconta }}!</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
          <table>
          {{ form }}
          </table>
        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
    </div>
  </div>
{% endblock %}