{% load static %}

<html>
    <head>
        <title>Turismo P5</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <h1>Home do site!!</h1>
        <div class="page-header">
            <a href="{% url 'roteiro_new' %}"><button>Cadastrar Roteiro</button></a>
        </div>
    </body>
</html>